<%-include("../partials/header")%>

<div class="jumbotron">
    <div class="jumbo">
        <h1 id="jumbotron1">WELCOME TO JART</h1>
        <h3 id="jumbotron2">Follow other Jartists.</h3>
        <h3 id="jumbotron3">Share your Jarts.</h3>
        <a href="/artworks/new" type="button" class="btn btn-primary btn-lg">Share Jart</a>
    </div>
</div>

<% foundArtworks.forEach(artwork=>{ %>

    <div class="media shadow-sm p-3 bg-white rounded">
        <a href="/artworks/<%=artwork._id%>">
            <img id="show-image" class="mr-3" src="<%=artwork.image%>">
        </a>
        <div id="media-body" class="media-body">
            <h4 class="mt-0" href="/artworks/<%=artwork._id%>"><%=artwork.title %></h4>
            <span><a href="/users/<%=artwork.author.id%>">@<%=artwork.author.username%></a></span><span><small><em> <%= moment(artwork.createdAt).fromNow()%></span></em></small>
            <p><%=artwork.content.substring(0, 100)%> ...</p>
            <div class="extra">
            <% if(artwork.likes.length < 1){ %>
                <span><i class="far fa-heart"></i> <%= artwork.likes.length %> like </span> 
                <span style="padding-left: 5px;"><i class="far fa-comments"></i> <%= artwork.comments.length %> comment </span> 
            <% }else{ %>
                <span><i class="fas fa-heart"></i> <%= artwork.likes.length %> likes </span> 
                <span style="padding-left: 5px;"><i class="fas fa-comments"></i> <%= artwork.comments.length %> comments </span> 
            <% } %> 
        </div>
        </div>
        <hr >
    </div>                      
<% }) %>
<%-include("../partials/footer")%>




        
