<%-include("../partials/header")%>
<div class="section">
    <div class="container"> 

        <div class="section">
            <div class="container"> 
                <div class="box" id="top-box">
                    <div class="box-item">
                        <h1 class="title">"EVERY ARTIST WAS FIRST AN AMATEUR"</h1>
                        <a href="/artworks/new" type="button" class="button is-primary">Share your magic</a>
                    </div>
                </div>

                <% foundArtworks.forEach(artwork=>{ %>
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <a href="/artworks/<%=artwork._id%>" class="ui medium image">
                                        <img src="<%=artwork.image%>">
                                    </a>
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <h2 class="title" class="ui header"><a href="/artworks/<%=artwork._id%>"><%=artwork.title %></a></h2>
                                    <p>
                                        <small><a href="/users/<%=artwork.author.id%>">@<%=artwork.author.username%></a> <%= moment(artwork.createdAt).fromNow()%></small>
                                        <br>
                                        <%=artwork.content.substring(0, 100)%> ...
                                    </p>
                                </div>
                                <% if(artwork.likes.length < 1){ %>
                                    <span><i class="far fa-heart"></i> <%= artwork.likes.length %> reaction </span> 
                                    <span><i class="far fa-comments"></i> <%= artwork.comments.length %> comment </span> 
                                <% }else{ %>
                                    <span><i class="fas fa-heart"></i> <%= artwork.likes.length %> reactions </span> 
                                    <span><i class="fas fa-comments"></i> <%= artwork.comments.length %> comments </span> 
                                <% } %> 
                            </div>
                        </article>
                    </div>
                <% }) %>
            </div>  
        </div>
    </div>  
</div>
<%-include("../partials/footer")%>