<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" integrity="sha512-ADrqa2PY1TZtb/MoLZIZu/Z/LlPaWQeDMBV73EMwjGam43/JJ5fqW38Rq8LJOVGCDfrJeOMS3Q/wRUVzW5DkjQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Jart</title>
</head>
<body>
 
    
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item">
        <i class="fas fa-paint-brush fa-2x">Jart</i>
      </div>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/artworks" class="navbar-item">
          Home
        </a>
        <a class="navbar-item">
          About
        </a>
        <a class="navbar-item">
          Contact
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <% if(!currUser){ %>
              <a href="/login" class="navbar-item"> Login</a>
              <a href="/register" class="navbar-item"> Sign Up</a>
          <% }else{ %>

            <div class="dropdown is-left is-hoverable">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu6">
                  <span>Notifications</span>
                  <span class="tag">
                    <%= notifications.length %>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu6" role="menu">
                <div class="dropdown-content">
                    <a href="/notifications" class="dropdown-item">
                      View past notifications
                    </a>
                    <% notifications.forEach(function(notification) { %>                          
                          <a class="dropdown-item" href="/notifications/<%= notification.id %>">
                              <%= notification.username %> created a new Jart
                          </a>
                  <% }); %>
                </div>
              </div>
            </div>

              <a href="/users/<%=currUser._id%>" class="navbar-item">Signed In As <%=currUser.username%></a>
              <a href="/logout" class="navbar-item">Logout</a>
          <% } %>
            </a>
        </div>
      </div>
    </div>
</div>
</nav>

<div class="container">
  <div class="section">
    
    <% if(error && error.length > 0){ %>
      <div class="notification is-danger is-light">
        <%=error%>
      </div>
    <% } %>

    <% if(success && success.length > 0){ %>
      <div class="notification is-success is-light">
        <%=success%>
      </div>
      <% } %>

  </div>
</div>