<%-include("../partials/header")%>

<form class="" action="/artworks/<%=foundArtwork_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
    <div class="media shadow-sm p-3 bg-white rounded" id="post-media">
        <div class="media-body">
            <div class="form-group" >
                <textarea id="input" placeholder="Write your post content here..." class="form-control chang" name="comment[text]" id="" cols="30" rows="10"><%=comment.text%></textarea>
                <button type="submit" class="btn btn-primary float-right">Publish</button>
            </div>
        </div>
    </div>
</form>

<%-include("../partials/footer")%>
