<%-include("../partials/header") %>

<div class="container" id="form-container">
    <form id="form" action="/users/<%=user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h3 class="title is-4">Edit Jart Profile</h3>
  
      <div class="form-group">
        <input class="form-control" type="text" name="user[firstName]" value="<%=user.firstName%>" placeholder="first name">
      </div>
  
      <div class="form-group">
        <input class="form-control" type="text" name="user[lastName]" value="<%=user.lastName%>" placeholder="last name">
      </div>
      
      <div class="form-group">
        <input class="form-control" type="text" value="<%=user.username%>" name="user[username]" placeholder="username">
      </div>
  
      <div class="form-group">
        <input class="form-control" type="email" value="<%=user.email%>" name="user[email]" placeholder="john@doe.com">
      </div>
  
      <div class="form-group">
        <label class="file-label">
            <input class="file-input form-control-file" type="file" accept="image/*" name="image">
        </label>
      </div>
  
      <div class="form-group">
            <textarea id="profile" type="text" name="user[bio]" cols="30" rows="10" placeholder="A short bio ..."><%=user.bio%></textarea>
      </div>
  
      <button type="submit" class="btn btn-dark btn-block">
        Update Profile
      </button>
    </form>
  </div>
  

<%-include("../partials/footer") %>